<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Área Administrativa Locker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="padding-top:25px; text-align: center">Insira as credenciais</ion-title>
  <ion-title class="label1">Login:</ion-title>
  <ion-input class="input"></ion-input>
  <ion-title class="label">Senha:</ion-title>
  <ion-input class="input"></ion-input>
  <div style="text-align: center">
    <ion-button routerLink="/home">Entrar</ion-button>
  </div>
</ion-content>
